.featured {
  margin: 1rem 0;

  &__card {
    margin: 1rem 0;
  }

  &__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  h3 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
  }

  &__card-container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 25px;

    @media screen and (max-width: 450px) {
      display: flex;
      flex-direction: column;
    }

    .featured__card-details {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  &__price {
    font-size: 14px;
    font-weight: 500;
    margin-left: 1rem;
  }

  &__add-to-cart {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 600;
  }

  &__buttons {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;

    .featured__buttons-container {
      width: 100%;
    }

    button {
      padding: 8px;
      background-color: white;
      border-top: 1px solid #ccc;
      border-bottom: none;
      border-left: none;
      border-right: none;
      width: 100%;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      height: 35px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .featured__button-first {
      border-right: 1px solid #ccc;
    }
  }

  &__buttons-icon {
    margin-right: 5px;
  }
}
