.news-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;

  &__container {
    margin: 8rem 0;
    width: 80%;
    max-width: 666px;
  }

  &__paragraph {
    font-size: 30px;
    line-height: 1.12em;
    margin: 1rem 0;
    text-align: center;
  }

  &__input {
    width: 100%;
    margin: 1rem 0;

    input {
      width: 100%;
      padding: 1rem;
    }

    input::placeholder {
      color: black;
      font-size: 14px;
    }

    input:focus {
      border: 1px solid black;
    }
  }

  &__input {
    position: relative;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 515px) {
      flex-direction: column;
    }
  }

  &__button-container {
    position: absolute;
    margin-right: 1rem;
    align-self: center;

    @media screen and (max-width: 515px) {
      position: static;
      margin-top: 1rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;

    border-radius: 15px;
    padding: 0.3rem;
    text-transform: uppercase;
    border: 1px solid black;

    p {
      letter-spacing: 0.07em;
    }
  }

  &__button:hover {
    color: white;
    background-color: black;
    border-radius: 0;
    transition: all 0.3s ease;
  }

  &__accept-policy {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;

    a {
      color: black;
    }
  }
}
