.reviews__form {
  margin: 2rem 0;
  &-title {
    font-size: 30px;
  }

  &-text {
    font-size: 16px;
  }

  form {
    label {
      text-transform: uppercase;
      margin: 0.5rem 0;
    }

    .reviews__comment-container {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0;
    }

    textarea {
      padding: 1rem;
      border-width: 1px;
      border-color: #505050;

      &::placeholder {
        color: black;
        font-size: 16px;
      }

      &:focus {
        border-color: black;
        border-width: 1px;
        outline: none;
      }

      &::placeholder {
        color: black;
        font-size: 16px;
      }
    }

    .reviews__bottom {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        width: 47%;

        input {
          padding: 1rem;

          &::placeholder {
            font-size: 16px;
            color: black;
          }
        }
      }
    }
  }

  button {
    padding: 0.6rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 18px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}
